{% extends "catalog/base.html" %}

{% block main_content %}
<form class="search-form" action="{% url 'catalog' %}" method="get">
    <!-- Первая строка: поле поиска и кнопки -->
    <div class="search-row">
        <input type="text" name="query" id="request" class="search-form-item request" placeholder="Request" value="{{ request.GET.query }}">
        <button type="submit" class="search-form-item btn txt">Search</button>
        <button type="button" onclick="resetFilters()" class="search-form-item btn txt">Reset</button>
    </div>

    <!-- Вторая строка: фильтры по цене, количеству, производителю и продавцу -->
    <div class="filter-row">
        <select name="producer" id="producer" class="filter-form-item">
            <option value="">All Producers</option>
            {% for producer in producers %}
                <option value="{{ producer.id }}" {% if producer.id|stringformat:"s" == request.GET.producer %}selected{% endif %}>
                    {{ producer.full_name }}
                </option>
            {% endfor %}
        </select>

        <select name="seller" id="seller" class="filter-form-item">
            <option value="">All Sellers</option>
            {% for seller in sellers %}
                <option value="{{ seller.id }}" {% if seller.id|stringformat:"s" == request.GET.seller %}selected{% endif %}>
                    {{ seller.login }}
                </option>
            {% endfor %}
        </select>

        <input type="number" name="min_price" step="0.01" placeholder="Min Price" class="filter-form-item" value="{{ request.GET.min_price }}">
        <input type="number" name="max_price" step="0.01" placeholder="Max Price" class="filter-form-item" value="{{ request.GET.max_price }}">
        <input type="number" name="min_quantity" placeholder="Min Quantity" class="filter-form-item" value="{{ request.GET.min_quantity }}">
    </div>
</form>

<container class="cards">
    {% for card in cards %}
    <a href="{% url 'product' card.id %}" class="card">
        <h4 class="card-item txt">{{ card.short_name }}</h4>
        <p class="card-item txt">{{ card.description|truncatewords:10 }}</p>
    </a>
    {% empty %}
        <p class="txt">Товары не найдены.</p>
    {% endfor %}
</container>

<script>
    function resetFilters() {
        // Устанавливаем значения по умолчанию для селектов
        document.getElementById('producer').selectedIndex = 0; // Устанавливаем "All Producers"
        document.getElementById('seller').selectedIndex = 0;   // Устанавливаем "All Sellers"

        // Сбрасываем текстовые поля
        document.getElementById('request').value = ''; // Поле поиска
        document.querySelector('input[name="min_price"]').value = ''; // Минимальная цена
        document.querySelector('input[name="max_price"]').value = ''; // Максимальная цена
        document.querySelector('input[name="min_quantity"]').value = ''; // Минимальное количество
    }
</script>
{% endblock %}
