<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>Hello World!</h1>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>
<body class="body">

    <header class="header base-container">
        <a href="" class="header-item logo"></a>

        <nav class="header-item nav">
            <a href="" class="nav-item link txt">Home</a>
            <a href="" class="nav-item link txt">About</a>
        </nav>

        <a href="" class="header-item btn txt">Sign In</a>
    </header>

    <main class="main base-container">
        <form action="" class="search-form">
            <input type="text" name="request" id="request" class="search-form-item request" placeholder="Request" required>
            <button type="submit" class="search-form-item btn txt">Search</button>
            <button type="reset" class="search-form-item btn txt">Reset</button>
        </form>

        <container class="products">

            <a href="" class="product">
                <h4 class="product-title txt">Lorem ipsum dolor sit amet.</h4>
                <p class="product-description txt">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque amet magni quos expedita nemo sequi voluptas facere nihil ullam tempora voluptatem, corrupti exercitationem qui molestias doloremque ipsam minus dolor quis.
                </p>
            </a>

            <a href="" class="product">
                <h4 class="product-title txt">Lorem ipsum dolor sit amet.</h4>
                <p class="product-description txt">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores minus et ad iusto eveniet ducimus vitae doloribus, accusantium, illum quae ratione eligendi in mollitia voluptates dolorem rerum explicabo eius assumenda. At optio nulla magni dolorum sint unde, provident sit sequi quo beatae reiciendis, aperiam eos molestias totam doloribus facere ipsa!
                </p>
            </a>

            <a href="" class="product">
                <h4 class="product-title txt">Lorem ipsum dolor sit amet.</h4>
                <p class="product-description txt">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque amet magni quos expedita nemo sequi voluptas facere nihil ullam tempora voluptatem, corrupti exercitationem qui molestias doloremque ipsam minus dolor quis.
                </p>
            </a>

            <a href="" class="product">
                <h4 class="product-title txt">Lorem ipsum dolor sit amet.</h4>
                <p class="product-description txt">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores minus et ad iusto eveniet ducimus vitae doloribus, accusantium, illum quae ratione eligendi in mollitia voluptates dolorem rerum explicabo eius assumenda. At optio nulla magni dolorum sint unde, provident sit sequi quo beatae reiciendis, aperiam eos molestias totam doloribus facere ipsa!
                </p>
            </a>

            <a href="" class="product">
                <h4 class="product-title txt">Lorem ipsum dolor sit amet.</h4>
                <p class="product-description txt">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque amet magni quos expedita nemo sequi voluptas facere nihil ullam tempora voluptatem, corrupti exercitationem qui molestias doloremque ipsam minus dolor quis.
                </p>
            </a>

        </container>
    </main>
    
    <footer class="footer base-container">
        <ul class="footer-list">
            <li class="footer-list-item"><a class="link txt" href="https://t.me/katehok_1" target="_blank">@katehok_1</a></li>
            <li class="footer-list-item txt">&copy;&nbsp;2024</li>
            <li class="footer-list-item"><a class="link txt" href="https://t.me/marccrass" target="_blank">@marccrass</a></li>
        </ul>
    </footer>

</body>
</html>