{% extends "base.html" %}

{% block main_content %}
<form action="" method="post" class="one-column-form">
    {%csrf_token%}
    <h2 class="one-column-form-item one-column-form-title">Register</h2>
    <div style="one-column-form-item one-column-form-error">{{ form.non_field_errors }}</div>
    {% for field in form %}
    {{ field }}
    <div style="one-column-form-item one-column-form-error">{{ field.errors }}</div>
    {% endfor %}
    <button type="submit" class="one-column-form-item btn-txt">Sign&nbsp;Up</button>
    <a href="{% url "users:login" %}" class="one-column-form-item one-column-form-txt-link mini-txt">Already have an account?</a>
</form>
{% endblock %}